<ul class="nav nav-tabs">
	<li class="nav-item"><a class="nav-link" ui-sref="User">All Users</a></li>
	<li class="nav-item"><a class="nav-link" ui-sref="User.Upload">Upload</a></li>
</ul>
<div ui-view="right-view"></div>