<!--<button type="button" class="btn btn-primary btn-lg" ng-click="$ctrl.setFilterByText()">Filter By {{$ctrl.filterBy}}</button>-->
<br />
<div class="row">
	<div class="dropdown col-sm-2">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Filter By
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<button class="dropdown-item" ng-click="$ctrl.setFilterByText(0)">Name</button>
			<button class="dropdown-item" ng-click="$ctrl.setFilterByText(1)">Phone</button>
		</div>
	</div>
	<div class="col-sm-10">
		<input type="text" ng-change="$ctrl.filterOnChange(value)" class="form-control input-sm" ng-model="$ctrl.filterText" placeholder="{{$ctrl.filterBy}}" />
	</div>
</div>


<server-side-table title="'User List'"
				   items="$ctrl.list"
				   headers="$ctrl.headers" 
				   properties="$ctrl.properties"
				   recordCount="$ctrl.totalRecords"></server-side-table>

<!--<table class="table">
	<caption>List of users</caption>
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Surname</th>
			<th scope="col">Mobile No</th>
			<th scope="col">Birth Date</th>
			<th scope="col">Last Location</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in $ctrl.list">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.surname}}</td>
			<td>{{item.mobileNo}}</td>
			<td>{{item.birthDate}}</td>
			<td>{{item.lastLocation}}</td>
		</tr>
	</tbody>
</table>-->
